[submodule "SimpleSynthNoiseTutorial"]
	path = SimpleSynthNoiseTutorial
	url = https://github.com/Sofiya-D/SimpleSynthNoiseTutorial.git
	branch = SimpleSynthNoiseTutorial
[submodule "MainComponentTutorial"]
	path = MainComponentTutorial
	url = https://github.com/Sofiya-D/MainComponentTutorial.git
	branch = MainComponentTutorial
[submodule "BasicAudioPluginTutorial"]
	path = BasicAudioPluginTutorial
	url = https://github.com/Sofiya-D/BasicAudioPluginTutorial.git
[submodule "WhiteNoiseGeneratorPlugin"]
	path = WhiteNoiseGeneratorPlugin
	url = https://github.com/Sofiya-D/WhiteNoiseGeneratorPlugin.git
